.lis{
 background-color: gold;
}

.App{
  background-color: aqua;

}

img{
  height: 30%;
  width: 50% ;
  align-items: center;
  margin-left: 20%;
  
}



.list-text{
  margin-left: 2rem;
}

.fade-enter{
  opacity: 0.01;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit{
  opacity: 1;
  
}

.fade-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}